#listadoIzquierda,#listadoDerecha{      
    opacity:1;   
}
/*Estilo de los articulos en java*/
#duke img{
   
   margin-left:40%;
   margin-top:5%;
}
#arIf{
    opacity:0;
}

#ar3r{
    opacity:0;
}
#artemp{
    opacity:0;
}

#clickTemperatura{
    font-size:14px;
}